@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@(documentType: String)(implicit messages: Messages)

<div id="missing-documents-guidance" class="govuk-!-padding-top-2">
    <h2 id="missing-documents-guidance-heading" class="govuk-heading-m govuk-!-margin-top-6">
        @messages("cf.common.missing-documents-guidance.heading", messages(s"cf.common.missing-documents-guidance.$documentType")
        )</h2>

    <p id="missing-documents-guidance-text1" class="govuk-body" >@messages("cf.common.missing-documents-guidance.text1",
        messages(s"cf.common.missing-documents-guidance.${documentType}s"))</p>

    <p id="missing-documents-guidance-text2" class="govuk-body" >@messages("cf.common.missing-documents-guidance.text2",
        messages(s"cf.common.missing-documents-guidance.${documentType}s"))</p>
</div>
