@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import viewmodels.Paginated

@(model: Paginated[_])(implicit messages: Messages)

@if(!model.dataFitsOnOnePage) {
<div class="govuk-body pager govuk-!-margin-bottom-3">
    <div class="pager-controls">
        <ul class="pager-items">
            @if(!model.isFirstPage) {
                @linkToPreviousPage
            }
            @for(pageNumber <- model.pageRange) {
                @linkToPage(pageNumber)
            }
            @if(!model.isLastPage) {
                @linkToNextPage
            }
        </ul>
    </div>
    <div class="pager-summary">@messages(
        "cf.pager.summary",
        model.firstItemOnPage + 1,
        model.lastItemOnPage,
        model.allItems.length,
        model.itemsDescription)</div>
</div>
}

@linkToPreviousPage = {
    <li class="pager-prev">
        <a class="govuk-link" href="@{model.urlForPage(model.currentPage - 1)}">@messages("cf.pager.prev")</a>
    </li>
}

@linkToNextPage = {
    <li class="govuk-link pager-next">
        <a class="govuk-link" href="@{model.urlForPage(model.currentPage + 1)}">@messages("cf.pager.next")</a>
    </li>
}

@linkToPage(pageNumber: Int) = {
    @if(pageNumber == model.currentPage) {
        <li class="active pager-number govuk-link">@{pageNumber}</li>
    } else {
        <li class="pager-number govuk-link">
            <a class="govuk-link" href="@{model.urlForPage(pageNumber)}">@{pageNumber}</a>
        </li>
    }
}