@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.customs.financials.config.AppConfig
@import uk.gov.hmrc.customs.financials.domain.{DutyDefermentAccount, GeneralGuaranteeAccount}
@import uk.gov.hmrc.customs.financials.viewmodels.AuthorizedToViewViewModel
@import uk.gov.hmrc.customs.financials.views.html.components._

@this(
    mainTemplate: uk.gov.hmrc.customs.financials.views.html.alphagov_main_template
)

@(model: AuthorizedToViewViewModel)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@mainTemplate(title = Some(messages("cf.account.authorized-to-view.title")), beforeContentBlock = Some(link_to_home_page()), helpAndSupport = false) {

    <h1 class="govuk-heading-xl">
        @messages("cf.account.authorized-to-view.title")
    </h1>

    @pager(model)
        <div id="results">
            @if(model.allItems.isEmpty){
              <h2 class="error-message govuk-heading-l">@messages("cf.account.authorized-to-view.no-matches-found")</h2>
            }else{
                @for((account, index) <- model.visibleItems.zipWithIndex) {
                    @{
                        account match {
                            case dutyDefermentAccount: DutyDefermentAccount => authorised_to_view_duty_deferment(dutyDefermentAccount, index)
                            case cashAccount: CashAccount => authorised_to_view_cash(cashAccount, index)
                            case generalGuaranteeAccount: GeneralGuaranteeAccount => authorised_to_view_guarantee(generalGuaranteeAccount, index)
                        }
                    }
                }
            }
        </div>
    @pager(model)
}
