@*
* Copyright 2021 HM Revenue & Customs
*
*@
@import uk.gov.hmrc.customs.financials.views.html.components._
@import uk.gov.hmrc.customs.financials.viewmodels.FinancialsHomeModel

@this(
        cashAccountCard: cash_account_card,
        dutyDefermentCard: duty_deferment_account_card,
        guaranteeAccountCard: guarantee_account_card,
        mainTemplate: uk.gov.hmrc.customs.financials.views.html.alphagov_main_template,
        languageSelection: components.languageSelection,
        duty_deferment_inaccurate_balances_message: components.duty_deferment_inaccurate_balances_message
)

@(model: FinancialsHomeModel, maybeMessageBannerPartial: Option[HtmlFormat.Appendable])(implicit request: Request[_], messages: Messages, appConfig: uk.gov.hmrc.customs.financials.config.AppConfig)

@mainTemplate(title = Some(messages("cf.accounts.title")), maybeMessageBannerPartial = maybeMessageBannerPartial, eori = Some(model.eori), helpAndSupport = true) {

    @recruitment_banner()

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
    @messages("cf.customs-financials-home.title")
    </h1>

    <a id="manage-account-authorities-link" class="govuk-link govuk-!-margin-right-2" href="@{appConfig.manageAuthoritiesFrontendUrl}">
    @messages("cf.account.manage-account-authorities.title")
    </a>


    @if(model.isAgent) {
        <a id="authorised-to-view-link" class="govuk-link" href="@{uk.gov.hmrc.customs.financials.controllers.routes.AuthorizedToViewController.onPageLoad(AuthorizedToViewPageState(1))}">
        @messages("cf.account.authorized-to-view.title")
        </a>
    }

    @notification_panel(model.notificationMessageKeys)

    @if(model.hasCashAccounts) {
        <section id="cash-accounts" class="govuk-!-margin-bottom-9">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-margin-top-9">@messages("cf.customs-financials-home.cash-account.title")</h2>
            @for(cashAccount <- model.cashAccounts) {
                @cashAccountCard(cashAccount)
            }
        </section>
    }

    @if(model.hasDutyDefermentAccounts) {
        <section id="duty-deferment-accounts" class="govuk-!-margin-bottom-9">
            @if(model.dutyDefermentAccounts.length > 1) {
                <h2 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-margin-top-9">
                @messages("cf.customs-financials-home.duty-deferment.title2")
                </h2>
            } else {
                <h2 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-margin-top-9">
                @messages("cf.customs-financials-home.duty-deferment.title")
                </h2>
            }

            @duty_deferment_inaccurate_balances_message()

            @for(dutyDefermentAccount <- model.dutyDefermentAccounts) {
                @dutyDefermentCard(dutyDefermentAccount, model)
            }
        </section>

    }

    @if(model.hasGuaranteeAccounts) {
        <section id="guarantee-accounts" class="govuk-!-margin-bottom-9">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-margin-top-9">
            @messages("cf.customs-financials-home.guarantee-account.title")
            </h2>

            @for(guaranteeAccountViewModel <- model.guaranteeAccountViewModels) {
                @guaranteeAccountCard(guaranteeAccountViewModel)
            }
        </section>

    }


    <section id="import-vat" class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-margin-top-9">
        @messages("cf.customs-financials-home.import-vat.title")
        </h2>
        @import_vat_card()

        <h2 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-margin-top-9">
        @messages("cf.customs-financials-home.pvat.title")
        </h2>
        @postponed_vat_card()
    </section>


    <section id="import-adjustments" class="govuk-!-margin-bottom-9">
        <h2 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-margin-top-9">
        @messages("cf.customs-financials-home.securities.title")
        </h2>
        @securities_card()
    </section>

}
