@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.customs.financials.views.html.components._
@import uk.gov.hmrc.customs.financials.domain.FileRole.DutyDefermentStatement

@this(
        mainTemplate: uk.gov.hmrc.customs.financials.views.html.alphagov_main_template
)

@(accountNumber: String, linkId: String)( implicit request: Request[_], messages: Messages, appConfig: uk.gov.hmrc.customs.financials.config.AppConfig )

@mainTemplate(title = Some(messages("service.name")),
    beforeContentBlock = Some(link_to_home_page()),
    helpAndSupport = true,
    helpAndSupportContactNumber = "cf.account.help-support.duty-deferment.numbers",
    helpAndSupportOfficeHours = "cf.account.help-support.duty-deferment.office-hours"
) {

    <span class="govuk-caption-xl" id="account-number-heading">
        @messages("cf.account.detail.requested.deferment-account-secondary-heading")
        @{accountNumber}
    </span>
    <h1 id="statements-heading" class="govuk-heading-xl">
        @messages("cf.account.detail.deferment-account-heading")
    </h1>

    <div class="govuk-inset-text" id="no-statements">@messages("cf.duty-deferment-account.problem-with-service.text")</div>

    @missing_documents_guidance("statement")

    <p id="historic-statement-request" class="govuk-body govuk-!-margin-bottom-7">
        @messages("cf.duty-deferment-account.historic.description")<a href="@{appConfig.historicRequestUrl(DutyDefermentStatement, linkId)}" class="govuk-link">
        @messages("cf.duty-deferment-account.historic.request")</a>
    </p>

}