@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.customs.financials.views.helpers.PageTitle.fullPageTitle


@this(
        main_template: uk.gov.hmrc.customs.financials.views.html.full_width_template
)

@(pageTitle: String, heading: String, details: String*)(implicit request: Request[_], messages: Messages, appConfig: uk.gov.hmrc.customs.financials.config.AppConfig)

@main_template(pageTitle = fullPageTitle(Some(pageTitle)), helpAndSupport = false) {

    <a href="@{uk.gov.hmrc.customs.financials.controllers.routes.CustomsFinancialsHomeController.index}" class="govuk-back-link link-back" id="back-link">@messages("cf.back")</a>

    <h1 class="govuk-heading-xl>@heading</h1>

    @for(detail <- details) {
        <p class="govuk-body">@detail</p>
    }

    <p class="govuk-body">
        <a href="@{
            uk.gov.hmrc.customs.financials.controllers.routes.CustomsFinancialsHomeController.index
        }" class="govuk-link govuk-link--no-visited-state">
        @messages("cf.accounts.back-customs-account")</a>
    </p>
}

