@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.hmrcfrontend.views.html.components.HmrcNewTabLink
@import uk.gov.hmrc.hmrcfrontend.views.Aliases.NewTabLink

@this(
    mainTemplate: uk.gov.hmrc.customs.financials.views.html.alphagov_main_template,
    hmrcNewTabLink: HmrcNewTabLink
)


@()(implicit request: Request[_], messages: Messages, appConfig: uk.gov.hmrc.customs.financials.config.AppConfig)

@mainTemplate(title = Some(messages("cf.not-subscribed-to-cds.detail.title")), helpAndSupport = false) {
    <h1 class="govuk-heading-l">@messages("cf.not-subscribed-to-cds.detail.heading")</h1>
    <h2 class="govuk-heading-m">@messages("cf.not-subscribed-to-cds.detail.how-to-get-access-info")</h2>

    <p class="govuk-body">
        @messages("cf.not-subscribed-to-cds.detail.eori-info")
        @hmrcNewTabLink(
            NewTabLink(
                language = Some(messages.lang.toString),
                classList = Some("govuk-link"),
                href=Some(appConfig.registerCdsUrl),
                text=messages("cf.not-subscribed-to-cds.detail.eori-link")
            )
        )
        .
    </p>

    <p class="govuk-body">
        @messages("cf.not-subscribed-to-cds.detail.get-access-info")
        @hmrcNewTabLink(
            NewTabLink(
                language = Some(messages.lang.toString),
                classList = Some("govuk-link"),
                href=Some(appConfig.subscribeCdsUrl),
                text=messages("cf.not-subscribed-to-cds.detail.get-access-link")
            )
        )
        .
    </p>

    <p class="govuk-body">
    @messages("cf.not-subscribed-to-cds.detail.process-application-info")
    </p>
}
