@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import views.helpers.Formatters
@import domain.GeneralGuaranteeAccount

@(account:GeneralGuaranteeAccount, index: Int)(implicit messages: Messages)
<div class="govuk-panel govuk-panel--details result" id="guarantee-account-@{index}">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3" id="eori-@{index}"><span class="govuk-panel__heading--span">@messages("cf.eori") </span>@account.owner</h2>
    <dl class="results search-results">
        <div class="guarantee-account-number search-results__item" id="account-@{index}">
            <dt class="search-results__term">@messages("cf.account.authorized-to-view.account-number")</dt>
            <dd class="search-results__description">@account.number</dd>
        </div>
        <div class="guarantee-account-type search-results__item" id="account-type-@{index}">
            <dt class="search-results__term">@messages("cf.account.authorized-to-view.account-type")</dt>
            <dd class="search-results__description">@messages("cf.account.authorized-to-view.guarantee-account.account-type")</dd>
        </div>
        @account.balances.map{ bal =>
            <div class="availableGuaranteeBalance search-results__item limit-remaining">
                <dt class="search-results__term">@messages("cf.account.authorized-to-view.guarantee-account.guarantee-limit-remaining")</dt>
                <dd class="search-results__description">@{Formatters.formatCurrencyAmount(bal.AvailableGuaranteeBalance)}</dd>
            </div>
        }

    </dl>
</div>

