@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this()

@()(implicit messages: Messages, appConfig: config.AppConfig)

<div class="govuk-warning-text govuk-!-margin-top-6" id="duty-deferment-balances-warning">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            @messages("cf.duty-deferment.inaccurateBalance.heading")</h3>
        <span class="govuk-warning-text__assistive">@messages("cf.duty-deferment.inaccurateBalance.hiddenText")</span></strong>
    <p class="govuk-body govuk-!-margin-top-4">@messages("cf.duty-deferment.inaccurateBalance.chiefText")</p>
    <p class="govuk-body govuk-!-margin-bottom-0">@messages("cf.duty-deferment.inaccurateBalance.getLatestBalance")
        <a href="@(appConfig.dutyDefermentSchemeContactLink)" class="govuk-link">@messages("cf.duty-deferment.inaccurateBalance.contactLink")</a>
    </p>
</div>