@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.customs.financials.domain.VatCertificateFile

@(file: Option[VatCertificateFile], fileFormat: FileFormat, id: String, period: String)(implicit messages: Messages)

@file.fold{
    <div id="missing-file-@id" class="missing-file">
        <span class="govuk-visually-hidden">@hiddentext(fileFormat, period)</span>
        <span aria-hidden="true">@messages("cf.account.vat.missing-file")</span>
    </div>
}{file =>
    <span class="download-link"><a id="@id" class="file-link govuk-link" href="@{file.downloadURL}" aria-label="@voiceover(fileFormat, period, file.formattedSize)" download>@fileFormat (@file.formattedSize)</a></span>
}

@hiddentext(fileFormat: FileFormat, period: String) = {
    @messages("cf.account.vat.missing-file-hidden-text", fileFormat, period)
}

@voiceover(fileFormat: FileFormat, period: String, fileSize: String) = {
    @messages("cf.account.vat.download-link", fileFormat, period, fileSize)
}