@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.customs.financials.views.helpers.Formatters
@import uk.gov.hmrc.customs.financials.domain.DDStatementType.Supplementary
@import uk.gov.hmrc.customs.financials.domain.DDStatementType.Excise
@import uk.gov.hmrc.customs.financials.domain.FileFormat.Pdf
@import uk.gov.hmrc.customs.financials.domain.FileFormat.Csv
@import uk.gov.hmrc.customs.financials.views.html.components.duty_deferment_file
@import uk.gov.hmrc.customs.financials.viewmodels.DutyDefermentStatementPeriodsByMonth

@this()

@(group: DutyDefermentStatementPeriodsByMonth)(implicit messages: Messages)


    <h2 id="statements-month-heading-0-@{group.year}-@{group.month}" class="govuk-heading-m">@{Formatters.dateAsMonthAndYear(group.monthAndYear)}</h2>
    <dl class="govuk-summary-list">
    @for((period, index) <- group.periods.zipWithIndex) {
        <div class="govuk-summary-list__row" id="statements-list-0-@{group.year}-@{group.month}-row-@{index}">
            <dt id="statements-list-0-@{group.year}-@{group.month}-row-@{index}-date-cell" class="govuk-summary-list__value">
            @if(period.defermentStatementType == Supplementary) {
                @messages("cf.account.detail.row.supplementary.info")
            } else {@if(period.defermentStatementType == Excise) {
                @messages("cf.account.details.row.excise.info")
            } else {
                @messages("cf.account.detail.period-group",
                    Formatters.dateAsDay(period.startDate),
                    Formatters.dateAsDay(period.endDate),
                    Formatters.dateAsMonth(period.endDate))
            }}
            </dt>
            <dd class="govuk-summary-list__actions">
            @duty_deferment_file(period, Pdf, s"pdf-0-${group.year}-${group.month}-row-${index}")
            </dd>
            <dd class="govuk-summary-list__actions">
            @duty_deferment_file(period, Csv, s"csv-0-${group.year}-${group.month}-row-${index}")
            </dd>
        </div>
    }
    </dl>
    <p class="govuk-body" id="direct-debit-info">@messages("cf.account.detail.direct-debit.duty-vat-and-excise")</p>
