@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.customs.financials.domain.DutyDefermentAccount
@this()

@(dutyDefermentAccount: DutyDefermentAccount,dutyDefermentAccountDDSetupLinks: Map[(String, String), String])(implicit messages: Messages)

@if(dutyDefermentAccount.isDirectDebitSetupRequired){
    <div class="govuk-warning-text govuk-!-margin-top-3 govuk-!-margin-bottom-0 card-direct-debit">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">@messages("cf.duty-deferment.warning")</span>
            @messages("cf.duty-deferment.dd.info")
        </strong>
        <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">@messages("cf.duty-deferment.dd.setup.text1")
            <a class="govuk-link" href="@dutyDefermentAccountDDSetupLinks((dutyDefermentAccount.owner, dutyDefermentAccount.number))">
                @messages("cf.duty-deferment.dd.setup.new.account")
            </a>
            @messages("cf.duty-deferment.dd.setup.text2")
        </p>
    <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0">@messages("cf.duty-deferment.dd.setup.text3")</p>

    </div>
}

