@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.customs.financials.viewmodels.DutyDefermentStatementsForEori
@import uk.gov.hmrc.customs.financials.views.helpers.Formatters

@import uk.gov.hmrc.customs.financials.domain.DDStatementType.Supplementary
@import uk.gov.hmrc.customs.financials.domain.DDStatementType.Excise
@import uk.gov.hmrc.customs.financials.domain.FileFormat.Pdf
@import uk.gov.hmrc.customs.financials.views.html.components.duty_deferment_file
@import uk.gov.hmrc.customs.financials.domain.FileFormat.Csv
@import uk.gov.hmrc.customs.financials.viewmodels.DutyDefermentStatementPeriodsByMonth

@this()

@(statementPeriods: Seq[DutyDefermentStatementPeriodsByMonth], historyIndex: Int)(implicit messages: Messages)

    @if(statementPeriods.nonEmpty){
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    @for((group, groupIndex) <- statementPeriods.zipWithIndex) {
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <button type="button" id="accordion-default-heading-@{groupIndex + 1}" aria-controls="accordion-default-content-@{groupIndex + 1}" class="govuk-accordion__section-button" aria-expanded="false">
                    @{Formatters.dateAsMonthAndYear(group.monthAndYear)}
                    </button><span class="govuk-accordion__icon" aria-hidden="true"></span></h2>
            </div>

            <div id="accordion-default-content-@{groupIndex + 1}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-@{groupIndex + 1}" style="overflow: hidden;">
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                @for((period, index) <- group.periods.zipWithIndex) {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__value" id="statements-list-@{historyIndex}-@{group.year}-@{group.month}-row-@{index}-date-cell">
                    @if(period.defermentStatementType == Supplementary) {
                        @messages("cf.account.detail.row.supplementary.info")
                    } else {@if(period.defermentStatementType == Excise) {
                        @messages("cf.account.details.row.excise.info")
                    } else {
                        @messages("cf.account.detail.period-group",
                            Formatters.dateAsDay(period.startDate),
                            Formatters.dateAsDay(period.endDate),
                            Formatters.dateAsMonth(period.endDate))
                    }}
                    </dt>
                    <dd class="govuk-summary-list__actions">
                    @duty_deferment_file(period, Pdf, s"pdf-${historyIndex}-${group.year}-${group.month}-row-${index}")
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    @duty_deferment_file(period, Csv, s"csv-${historyIndex}-${group.year}-${group.month}-row-${index}")
                    </dd>
                </div>
            }
            </dl>
            </div>
        </div>
    }
    </div>
    }
