@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.customs.financials.viewmodels.FinancialsHomeModel
@import uk.gov.hmrc.customs.financials.views.helpers.Formatters

@this( balanceDetail : uk.gov.hmrc.customs.financials.views.html.components.duty_deferment_balance_details)


@(account: DutyDefermentAccount, model: FinancialsHomeModel)(implicit messages: Messages)
<div class="govuk-!-margin-top-6 govuk-!-margin-bottom-2">

    @{
        account.displayBalances(account.balances.periodAccountLimit, account.balances.periodGuaranteeLimit, account.balances.periodAvailableGuaranteeBalance) map { balances =>
                balanceDetail(
                    account.number,
                    balances.accountLimit,
                    balances.guaranteeLimit,
                    balances.guaranteeLimitRemaining,
                    account.viewBalanceIsGranted,
                    account.displayAccountLimit(model.eori)
                )
            }
    }
</div>