@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.customs.financials.domain.FileFormat
@import uk.gov.hmrc.customs.financials.viewmodels.DutyDefermentStatementPeriod
@import uk.gov.hmrc.customs.financials.views.helpers.Formatters
@import uk.gov.hmrc.customs.financials.viewmodels.SdesFileViewModels.DutyDefermentStatementFileViewModel

@(period: DutyDefermentStatementPeriod, fileFormat: FileFormat, idPrefix: String = "")(implicit messages: Messages)

@defining(period.findStatementFileByFormat(fileFormat)) { files: Seq[DutyDefermentStatementFile] =>
    @files.headOption.fold {
        <div>
            <span id="@{idPrefix}-hidden" class="govuk-visually-hidden">@{period.unavailableLinkHiddenText(fileFormat)}</span>
            <span id="@{idPrefix}-unavailable" aria-hidden="true">@messages("cf.account.detail.unavailable")</span>
        </div>
    } { file =>
        <a id="@{idPrefix}-download-link" class="file-link govuk-link" href="@{
            file.downloadURL
        }" aria-label="@{file.downloadLinkAriaLabel()}" download>
            @fileFormat (@{Formatters.fileSize(file.size)})
        </a>
    }
}

