@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@this()

@(eori: Option[String] = None, companyName: Option[String] = None)(implicit messages: Messages)

@eori.map { eoriNumber =>
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            @if(companyName eq None) {
            <span id="eori" class="govuk-phase-banner__text">@messages("cf.header.eori") @eoriNumber</span>
            }else{
            <span id="eoriWithCompanyName" class="govuk-phase-banner__text">@companyName @messages("cf.header.eori.dash") @eoriNumber</span>
            }
        </p>
    </div>
}