@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@()(implicit messages: Messages)

<div class="custom-card import-vat-certificates govuk-!-margin-bottom-7">
    <p class="govuk-body">@messages("cf.import-vat.view-certificates.description")</p>
    <p class="govuk-body custom-card__footer">
        <a class="view vat-link govuk-link"
           href="@{uk.gov.hmrc.customs.financials.controllers.routes.VatController.showVatAccount()}">
           @messages("cf.customs-financials-home.import-vat.title.link")
        </a>
    </p>
</div>
