@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.customs.financials.domain
@import uk.gov.hmrc.customs.financials.controllers.routes

@this()

@()(implicit messages: Messages)
<nav class="hmrc-language-select" aria-label="@messages("cf.language.switcher")">
    <ul class="hmrc-language-select__list">
        <li class="hmrc-language-select__list-item">
            @if(messages.lang.code == "en"){
                <span aria-current="true">@messages("language.english")</span>
            } else {
                <a href="@routes.LanguageSwitchController.switchToLanguage(domain.Language.English)" hrefLang="en" lang="en" rel="alternate" class="govuk-link">
                    <span class="govuk-visually-hidden">@messages("language.change.english")</span>
                    <span aria-hidden="true">@messages("language.english")</span>
                </a>
            }
        </li>
        <li class="hmrc-language-select__list-item">
            @if(messages.lang.code == "cy"){
                <span aria-current="true">@messages("language.cymraeg")</span>
            } else {
                <a href="@routes.LanguageSwitchController.switchToLanguage(domain.Language.Cymraeg)" hrefLang="cy" lang="cy" rel="alternate" class="govuk-link">
                    <span class="govuk-visually-hidden">@messages("language.change.cymraeg")</span>
                    <span aria-hidden="true">@messages("language.cymraeg")</span>
                </a>
            }
        </li>
    </ul>
</nav>