@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

<script src='@controllers.routes.Assets.at("lib/govuk-frontend/govuk/all.js")'></script>
<script src='@controllers.routes.Assets.at("lib/hmrc-frontend/hmrc/all.js")'></script>
<script src='@controllers.routes.Assets.at("lib/moment/moment.js")'></script>
<script src='@controllers.routes.Assets.at("javascripts/main.js")'></script>
<script src='@controllers.routes.Assets.at("javascripts/timeUpdate.js")'></script>
<script src='@controllers.routes.Assets.at("javascripts/recruitmentBanner.js")'></script>
