@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@()(implicit messages: Messages)

<div class="custom-card securities-statements govuk-!-margin-bottom-7">
    <p class="govuk-body">@messages("cf.securities.view-statements.description")</p>
    <p class="govuk-body custom-card__footer">
        <a class="govuk-link securities-link"
           href="@{uk.gov.hmrc.customs.financials.controllers.routes.SecuritiesController.showSecurityStatements()}">
           @messages("cf.customs-financials-home.securities.link")
        </a>
    </p>
</div>
