@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@
@import uk.gov.hmrc.hmrcfrontend.views.html.components.HmrcTimeoutDialog
@import uk.gov.hmrc.hmrcfrontend.views.Aliases.TimeoutDialog
@import uk.gov.hmrc.customs.financials.config.AppConfig

@this(hmrcTimeoutDialog: HmrcTimeoutDialog)

@(keepAliveUrl: String)(implicit messages: Messages, appConfig: AppConfig)

@hmrcTimeoutDialog(TimeoutDialog(
    title = Some(messages("timeout.title")),
    timeout = Some(appConfig.timeout),
    countdown = Some(appConfig.countdown),
    keepAliveUrl = Some(keepAliveUrl),
    signOutUrl = Some("/customs/payment-records/logout"),
    timeoutUrl = Some("/customs/payment-records/logout-no-survey")
))

