@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import views.html.components._
@import domain.FileRole.SecurityStatement
@import views.html.Layout

@this(
        layout: Layout
)

@()(implicit request: Request[_], messages: Messages, appConfig: config.AppConfig)


@layout(pageTitle = Some(messages("cf.security-statements.title"))) {

    <h1 id="security-statements-heading" class="govuk-heading-xl">@messages("cf.security-statements.title")</h1>

    <p class="govuk-inset-text" id="no-statements">@messages("cf.security-statements.unavailable")</p>

    @missing_documents_guidance("statement")

    <p id="historic-statement-request" class="govuk-body govuk-!-margin-bottom-7">
        @messages("cf.security-statements.historic.description") <a href="@{
        appConfig.historicRequestUrl(SecurityStatement)
    }" class="govuk-link">
    @messages("cf.security-statements.historic.request")</a>
    </p>

}
