@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.AppConfig
@import views.html.Layout

@this(
        layout: Layout,
        h1: components.h1,
        p: components.p,
        ul: components.unordered_list,
        button: components.button
)

@(nextPage:String)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@layout(pageTitle = Some(messages("cf.verify.your.email.title"))) {

 @h1(msg = "cf.verify.your.email.heading", classes = "govuk-heading-xl govuk-!-margin-bottom-4")

 @p(messages("cf.verify.your.email.p1"))
 @p(messages("cf.verify.your.email.need-to-verify"))

 @ul(
  "cf.verify.your.email.list.1",
  "cf.verify.your.email.list.2",
  "cf.verify.your.email.list.3"
 )

 @button("cf.undeliverable.email.link-text", Some(nextPage))
}