@*
 * Copyright 2021 HM Revenue & Customs
 *
 *@

@import config.AppConfig
@import views.html.Layout

@this(
        layout: Layout
)

@(nextPage:String)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@layout(pageTitle = Some(messages("cf.verify.your.email.title"))) {

 <h1 class="govuk-heading-xl">@messages("cf.verify.your.email.heading")</h1>

 <p class="govuk-body">@messages("cf.verify.your.email.p1")</p>

 <p class="govuk-body">
  @messages("cf.verify.your.email.need-to-verify")
   <ul class="govuk-list govuk-list--bullet">
    <li>@messages("cf.verify.your.email.list.1")</li>
    <li>@messages("cf.verify.your.email.list.2")</li>
    <li>@messages("cf.verify.your.email.list.3")</li>
   </ul>
 </p>

 <p class="govuk-body">
   <a href="@nextPage" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    @messages("cf.verify.your.email.link-text")
   </a>
 </p>

}